<div class="flex">

</div>

<div>
    <div #Source class="button">Call next on source</div>
    <div (click)="resetAll()" class="button">Reset all</div>
    <div class="results">
        <div *ngFor="let operatorObject of operatorObjects" class="results-card">
            <h2>{{ operatorObject.name }}</h2>
            <pre>
                <code>
                    {{ operatorObject.code }}
                </code>
            </pre>
            <div class="observable-values">
                <div class="inner-observables">
                    <p class="sub-header">Inner Values:</p>
                    <div *ngFor="let inner of operatorObject.innerObservables"
                        [ngClass]="{'subscribed': inner.hasActiveSubcription, 'completed': inner.hasCompleted && !inner.hasActiveSubcription}"
                        class="inner-observable">
                        Inner observable: <span>{{inner.value}}</span>
                    </div>
                </div>
                <div class="result-observable">
                    <p class="sub-header">Result Value:</p>
                    <div class="result"><span>{{ operatorObject.result | async }}</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
