:host {
    --subscribed: #10B981;
    --canceled: #EF4444;
    --codeblock: #374151;
    --white: #FFFFFF;
    --indigo: #6366F1;
    --shadow-thin: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.subscribed {
    background-color: var(--subscribed);
    color: white
}

.completed {
    background-color: var(--canceled);
    color: white
}

.results {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    padding: 1rem;
}

.results-card {
    padding: 1rem;
    box-shadow: var(--shadow-thin);
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.button {
    padding: .5rem;
    margin-bottom: .5rem;
    box-shadow: var(--shadow-thin);
    display: inline-block;
    margin-right: .5rem;
    cursor: pointer;
    transition: .2s ease-in-out;

    &:hover {
        background-color: var(--indigo);
        color: var(--white);
    }
}

.observable-values {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: var(--shadow-thin);
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    background-color: var(--codeblock);
    color: var(--white);
    box-shadow: var(--shadow-thin);
    font-size: 1.4rem;
}

.result-observable {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-observables {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.inner-observable {
    padding: .5rem;
    margin-bottom: .5rem;
    box-shadow: var(--shadow-thin);
}

.sub-header {
    font-weight: bold;
}

.code {
    padding: 1rem;
    background-color: var(--codeblock);
    color: var(--white);
}

.color-dot {
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    margin-right: .5rem;
}

.key-entry {
    display: flex;
    margin-bottom: .5rem;
}

.control-panel {
    display: flex;
    margin-bottom: 1rem;
}
