:host {
    --subscribed: #10B981;
    --completed: #EF4444;
    --indigo-500: #6366F1;
    --pink-500: #EC4899;
    --blue-500: #3B82F6;
    --codeblock: #374151;
    --gray-100: #F3F4F6;
    --white: #FFFFFF;
    --shadow-thin: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    --shadow-raised: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-family:Arial, Helvetica, sans-serif;
    
}

.hidden {
    visibility: hidden;
}

.subscribed {
    background-color: var(--subscribed);
    color: var(--white);
}

.description {
    height: 8rem;
    display: flex;
    align-items: center;
}

.completed {
    background-color: var(--completed);
    color: var(--white);
}

.sandbox {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(25rem, 100%), 1fr));
    gap: 1rem;
    box-sizing: border-box;
    padding: 1rem;
}

.results-card {
    padding: 1rem;
    box-shadow: var(--shadow-thin);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    box-sizing: border-box;
}

.button {
  color: var(--codeblock);
  background-color: var(--white);
  border: 0;
  outline: 0;
  padding: .5rem 1rem;
  box-shadow: var(--shadow-thin);
  transition: all .3s;
  cursor: pointer;
  margin-right: .5rem;

  &:hover {
    box-shadow: var(--shadow-raised);
  }

  &:active {
    box-shadow: var(--shadow-thin);
  }
}

.button-sm {
    padding: .1rem .25rem;
    margin: 0 0 0 .5rem;
}

.control-panel-buttons {
    display: flex;
    margin-right: 1rem;
}

.button-indigo {
    background-color: var(--indigo-500);
    color: var(--white);
}

.button-pink {
    background-color: var(--pink-500);
    color: var(--white);
}

.button-green {
    background-color: var(--subscribed);
    color: var(--white);
}

.observable-values {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: var(--shadow-thin);
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    background-color: var(--codeblock);
    color: var(--white);
    box-shadow: var(--shadow-thin);
    font-size: 1.4rem;
}

.result-observable {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-observables {
    display: flex;
    flex-direction: column;
    margin-right: .5rem;
    flex: 1 1 auto;
    justify-content: flex-start;
}

.inner-observable {
    padding: .5rem;
    margin-bottom: .5rem;
    box-shadow: var(--shadow-thin);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inner-label {
    flex: 0 0 auto;
}

.inner-value {
    flex: 1 1 auto;
    text-align: center;
    padding: 0 .5rem;
}

.sub-header {
    font-weight: bold;
}

.code-wrapper {
    padding: 1rem;
    background-color: var(--codeblock);
    color: var(--white);
    overflow-x: scroll;
}

.code {
    width: 100%;
}

.color-key {
    padding: 1rem;
}

.color-dot {
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    margin-right: .5rem;
}

.key-entry {
    display: flex;

    &:not(:last-child) {
        margin-bottom: .5rem;
    }
}

.control-panel {
    display: flex;
    margin-bottom: 1rem;
    align-items: flex-end;
    padding: 1rem;
    margin: 1rem;
    box-shadow: var(--shadow-thin);
    flex-wrap: wrap;
}

.control-panel-buttons,
.control-panel-operators,
.control-panel-inputs {
    display: flex;
    padding: .25rem;
    align-items: center;
    flex-wrap: wrap;

    .button,
    .input-group {
        margin: .25rem .5rem .25rem 0;
    }
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    width: 10rem;
}

.input {
    padding: .5rem;
    border: none;
    box-shadow: var(--shadow-thin);
    flex: 1 1 auto;
}

.label {
    margin-bottom: .5rem;
}