<div class="sandbox">
    <div class="control-panel">
        <div class="control-panel-buttons">
            <button #Source class="button button-indigo">Call next on Outer</button>
            <button (click)="resetAll()" class="button button-pink">Reset all</button>
        </div>
        <div class="input-group">
            <label class="label" for="IntervalTime">Interval time</label>
            <input class="input" type="number" id="IntervalTime" [(ngModel)]="intervalTime" min="500">
        </div>
        <div class="input-group">
            <label class="label" for="IntervalAmount">Number of intervals</label>
            <input class="input" type="number" id="IntervalAmount" [(ngModel)]="intervalAmount" min="1">
        </div>
        <div class="input-group">
            <label class="label" for="MappingModifier">Mapping modifier</label>
            <input class="input" type="number" id="MappingModifier" [(ngModel)]="mappingModifier">
        </div>
    </div>
    <div class="results">
        <div *ngFor="let operatorObject of operatorObjects" class="results-card">
            <h2>{{ operatorObject.name }}</h2>
            <pre class="code-wrapper">
                <code class="code">
                    {{renderCode(operatorObject.name)}}
                </code>
            </pre>
            <div class="observable-values">
                <div class="inner-observables">
                    <p class="sub-header">Inner Values:</p>
                    <div *ngFor="let inner of operatorObject.innerObservables"
                        [ngClass]="{'subscribed': inner.hasActiveSubcription, 'completed': inner.hasCompleted && !inner.hasActiveSubcription}"
                        class="inner-observable">
                        <span class="inner-label">Inner Value:</span> <span class="inner-value">{{inner.value}}</span>
                    </div>
                </div>
                <div class="result-observable">
                    <p class="sub-header">Result Value:</p>
                    <div class="result"><span>{{ operatorObject.result | async }}</span></div>
                </div>
            </div>
        </div>
    </div> 
    <div class="color-key">
        <div class="key-entry">
            <div class="color-dot subscribed"></div> Has active subscription
        </div>
        <div class="key-entry">
            <div class="color-dot completed"></div> Subscription has completed
        </div>
    </div> 
</div>
